*.xlsx
*.xlsm
*.csv
*.sav
*.emb
*.mod
/secret/**
/venv/**
/__pycache__/**
/.vscode/**
/build/**
/dist/**
/model/**
/esempi/**
desktop.ini
/Pack/__pycache__/**
changelog.txt
create changelog.ps1
config.py